{{define "footer"}}
<footer>
    <div class="footer-links">
        <a href="{{.LinkedIn}}"><i class="fab fa-linkedin" style="font-size:36px;color:rgb(255, 255, 255)"></i></a>  
        <a href="{{.GitHub}}"><i class="fab fa-github" style="font-size:36px;color:rgb(255, 255, 255)"></i></a>
        <a href="{{.Medium}}"><i class="fab fa-medium" style="font-size:36px;color:rgb(255, 255, 255)"></i></a>
    </div>
</footer>
{{end}}