{{define "header"}}
<header>
    <div class="header-inner">
        <a href="/"><img class="header-logo" src="static/dbz-z.png" alt="Zachary Pollack"></a>
        <nav class="header-nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
            <a href="/projects">Projects</a>
        </nav>
    </div>
</header>
{{end}}