<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>self.zep-lab.dev</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    {{template "header" .}}
    <div class="aboutme">
        <p style = "font:Times, serif; font-size:40px;" >About Me</p>
        <p>My name is Zachary Pollack. I am a DevOps Engineer with 5 y.o.e.</p>
        <p>Generally, my focus is on developing and maintaining CICD systems at scale. I'm a particularly big fan of Kubernetes and container orchestration! In addition to my professional exposure I have a k3s cluster on my homelab which hosts all my projects. This website, my home media server, and more are deployed to Kubernetes and managed via Helm. Despite being overkill for the functionality, it has made maintenance a breeze!</p>
        <p>My other hobbies include reading, gaming, biking, and watching TV/Movies! My favorite books recently have been N.K. Jemisin's Broken Earth trilogy. I've really been enjoying Yugioh Master Duel at the moment as well as Yakuza: Like a Dragon.</p>
        <br>
        <p>Please feel free to reach out at any of my socials linked at the bottom of the page!</p>
    </div>
    {{template "footer" .}}
</body>
</html>