<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>self.zep-lab.dev</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{template "styles" .}}
</head>
<body>
    {{template "header" .}}
    <div class="container">
        <p>Hello, I'm Zachary Pollack. This is my personal website where I track my projects, blog posts, and more.</p>
        <p>Feel free to explore!</p>
    </div>
    <div class="medium-stories">
        <p style = "font:Times, serif; font-size:30px; text-decoration:underline;" >Latest Blog Posts</p>
        {{ range $_, $story := .Stories }}
        <a href="{{ $story.Link }}">{{ $story.Title }}</a>  
        <br>
        <br>
        {{ end }}
    </div>
    {{template "footer" .}}
</body>
</html>