<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>self.zep-lab.dev</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    {{template "header" .}}
    <div class="github-projects">
        <p style = "font:Times, serif; font-size:40px;" >Latest GitHub Projects</p>
        {{ range $_, $repo := .GHRepos }}
        <div class="repo">
            <h3>{{ $repo.Name }}</h3>
            <p>{{ $repo.Description }}</p>
            <a href="{{ $repo.Url }}" target="_blank">View on GitHub</a>
        </div>
        {{ end }}
    </div>
    {{template "footer" .}}
</body>
</html>